@import url("./build/css/_variables.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: lime !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("./build/css/_variables.css");

.MyClass {
  color: var(--light-success-dark);
  background-color: var(--light-success-light);
}

h1 {
  color: var(--light-blue-dark) !important;
  font-family: var(--font-family-primary-heading) !important;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(
    -45deg,
    #2489cb 10%,
    #0068ab 25%,
    #00446f 65%
  );
  -webkit-background-clip: text;
}

.MuiButton-containedPrimary {
  background: -webkit-linear-gradient(
    -45deg,
    #2489cb 10%,
    #0068ab 25%,
    #00446f 65%
  );
}

.MuiLinearProgress-barColorPrimary {
  /* background-color: aqua !important; */
  background: -webkit-linear-gradient(
    -45deg,
    #2489cb 90%,
    #0068ab 95%,
    #00446f 100%
  );
  /* Attempt to add animation to progress bar */
  animation: auto;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
}

.MuiLinearProgress-root {
  background: rgba(0, 0, 0, 0.08) !important;
}

a {
  color: #0076c2;
}

a:hover {
  color: var(--color-base-red);
}

.MuiButton-containedSecondary {
  box-shadow: none !important;
  /* Removes the shadow on a selected button */
}

@font-face {
  font-family: "FS Lola";
  src: url("./fonts/FSLolaWeb-ExtraBold.woff") format("woff2"),
    url("./fonts/FSLolaWeb-ExtraBold.woff") format("woff");
}

/* .css-bixl2i-MuiInputBase-root-MuiFilledInput-root:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0) !important;
} */

.MuiFilledInput-root:before {
  border-bottom: 1px solid transparent !important;
  border-bottom-color: transparent !important;
}
/* 
.MuiFormLabel-colorSecondary {
  color: rgba(0, 0, 0, 0.75) !important;
} */

/* .MuiButton-root {
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.25) !important;
} */

.content {
  flex: 1 0 auto;
  padding: 10px;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #ffd400;
}
