@import url("./build/css/_variables.css");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("./build/css/_variables.css");

.MyClass {
  color: var(--light-success-dark);
  background-color: var(--light-success-light);
}

h1 {
  color: var(--light-blue-dark) !important;
  font-family: var(--font-family-primary-heading) !important;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(
    -45deg,
    #2489cb 10%,
    #0068ab 25%,
    #00446f 65%
  );
  -webkit-background-clip: text;
}

.MuiButton-containedPrimary {
  background: -webkit-linear-gradient(
    -45deg,
    #2489cb 10%,
    #0068ab 25%,
    #00446f 65%
  );
}

.MuiLinearProgress-barColorPrimary {
  /* background-color: aqua !important; */
  background: -webkit-linear-gradient(
    -45deg,
    #2489cb 90%,
    #0068ab 95%,
    #00446f 100%
  );
}

.MuiLinearProgress-root {
  background: rgba(0, 0, 0, 0.08) !important;
}

a {
  color: #0076c2;
}

a:hover {
  color: var(--color-base-red);
}
